<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

   <p>
    Splurty was built by <a target="_blank" href="http://github.com/smaeruf">Samia</a>. An aspiring web developer on her way to becoming a professional. Splurty happens to be her first web app, in which she is excited to create and perfect so it will be a breeze for her future projects. 
  </p>
  <br />
  <p>
    She strives daily to improve her skills as a web developer in hopes of starting her own web development company. With an entrepreneurial mindset, she also wishes to use her web development skills to futher her passions and build web services for all her ventures.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Samia Maeruf</h2>
      <br />
      <p>
        Samia Maeruf is a web development student studing coding at George Washington. She intendes to use her creativity to build eye catching web sites. There are many useful websites to help her on her journey. On the back end side, <a target="_blank" href="https://prismjs.com/download.html#themes=prism-funky&languages=markup+css+clike+javascript">prism</a> helps read code more efficently. And on the font end, <a target="_blank" href="https://www.fontsquirrel.com/home">font squirrel</a> has quite a selection of fonts to choose from!
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
